{% if user.is_authenticated %}
  <a href="{% url 'storage:payment' box.id%}" class="row text-decoration-none py-3 px-4 mt-5 SelfStorage__boxlink">
{% else %}
  <a href="{% url 'users:login' %}" class="row text-decoration-none py-3 px-4 mt-5 SelfStorage__boxlink">
{% endif %}
<div class="col-12 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
  <span class="SelfStorage_green fs_24 me-2">{{ box.floor }} эт.</span><span
  class="fs_24">№{{ box.number }}</span>
</div>
<div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
  <span class="fs_24">{{ box.square }} м²</span>
</div>
<div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
  <span class="fs_24">{{ box.width }} х {{ box.length }} х {{ box.height }} м²</span>
</div>
<div class="col-12 col-lg-3">
    <span class="btn my-2 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange border-8">
      От {{ box.price }} ₽
    </span>
</div>
</a>
