{% extends 'base.html' %}
{% block title %}<title>SelfStorage - Сброс пароля прошёл успешно</title> {% endblock %}
{% block content %}
  <main>
    <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
      <div class="modal-content">
        <div class="modal-body_new d-flex justify-content-center align-items-center">
            <h1 class="modal-title text-center fw-bold mb-3">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля</h1>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
