{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}<title>Новый пароль</title> {% endblock %}

{% block content %}
  <main>
    <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
      <div class="modal-content">
        <div class="container">
          {% if validlink %}
            <div class="card px-5 py-3 d-flex align-items-center foodplan__shadow">
            <h5><strong> Чтобы сбросить старый пароль — введите адрес электронной почты, под
              которым вы регистрировались</strong></h5>
            <div class="modal-body_new d-flex justify-content-center align-items-center">
              <form method="post" {% if action_url %} action="{% url action_url %}" {% endif %}>
                {% csrf_token %}
                {% include 'includes/user_form.html' with button_caption='Назначить новый пароль' %}
              </form>
            </div>
          {% else %}

            <div class="card px-5 py-3 d-flex align-items-center foodplan__shadow">
              <h5><strong> Ссылка сброса пароля содержит ошибку или устарела.</strong></h5>
            </div>
          {% endif %}
          </div>
        </div>
      </div>
  </main>
{% endblock %}
