{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}<title>Сброс пароля прошёл успешно</title> {% endblock %}

{% block content %}
  <main style="margin-top: calc(2rem + 85px);">
    <section>
      <div class="container">
        {% include 'includes/content_header.html' with header_text='Восстановление пароля завершено' %}
        <div class="card px-5 py-3 d-flex align-items-center foodplan__shadow">
          <h5 class="mb-4 text-center"><strong>Ваш пароль был сохранен. Используйте его для входа</strong></h5>
        </div>
      </div>
    </section>
  </main>
{% endblock %}

