{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}<title>Foodplan 2021 - Меню на неделю FOODPLAN</title> {% endblock %}

{% block content %}
  <main style="margin-top: calc(2rem + 85px);">
    <section>
      <div class="container">

        {% include 'includes/content_header.html' with header_text='Сброс пароля' %}

        <div class="card px-5 py-3 d-flex align-items-center foodplan__shadow">
          <h5 class="mb-4 text-center"><strong> Чтобы сбросить старый пароль — введите адрес электронной почты, под
            которым вы регистрировались</strong></h5>

          <form method="post" {% if action_url %} action="{% url action_url %}" {% endif %}>
            {% csrf_token %}
            {% include 'includes/user_form.html' with button_caption='Сбросить пароль' %}
          </form>
        </div>
      </div>
    </section>
  </main>
{% endblock %}